# Supabase Configuration
SUPABASE_URL=https://yagecbzykodypgjkaazo.supabase.co
SUPABASE_KEY=sb_publishable_JkfpUKTHBirzTLILyZOlGg_iGfucFgm

# Google Gemini API Key
GEMINI_API_KEY=AIzaSyCWnNXsLl6OVJ4THzFc2A9OIl_liSuS2QU
